button[title="View fullscreen"] {
  visibility: hidden;
}

button[title="View fullscreen"]:hover {
  visibility: hidden;
}

#metric {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  background-color: #E7EFF8;
  padding: 5px;
  direction: rtl;
  text-align:center;
  font-family:sans-serif;
}

#metric_label{
  direction: rtl;
  text-align:center;
  font-family:sans-serif;
}
