button[title="View fullscreen"] {
  visibility: hidden;
}

button[title="View fullscreen"]:hover {
  visibility: hidden;
}

#metric {
  border-radius: 5px;
  background-color: #E7EFF8;
  display: inline-block;
  padding: 5px;
  direction: rtl;
  text-align:center;
  font-family:sans-serif;
}
